* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.optionBlock {
  display: block;
}

main {
  font-size: 1em;
  color: #001d49;
  font-family: sans-serif;
  background-color: #a8c2ff;
  background: linear-gradient(135deg, rgba(255, 125, 60, 0.5) 0%, rgba(255, 125, 60, 0.8) 35%, #ddd 35%, #eee 85%, rgba(255, 125, 60, 0.8) 95%);
  padding: 1em;
}

main .selector {
  display: block;
  text-align: center;
  padding-top: 1em;
}

main .selector .selectorChild * {
  padding: 0 0.75em;
}

main .selector .selectorChild * input {
  margin-right: 0.3em;
}

main .heading {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 1.2em;
}

main .inputParent0 .noFileInput0, main .inputParent0 .noFileInput1, main .inputParent1 .noFileInput0, main .inputParent1 .noFileInput1 {
  position: relative;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto;
}

main .inputParent0 .noFileInput0 .fileAlternative0, main .inputParent0 .noFileInput0 .fileAlternative1, main .inputParent0 .noFileInput1 .fileAlternative0, main .inputParent0 .noFileInput1 .fileAlternative1, main .inputParent1 .noFileInput0 .fileAlternative0, main .inputParent1 .noFileInput0 .fileAlternative1, main .inputParent1 .noFileInput1 .fileAlternative0, main .inputParent1 .noFileInput1 .fileAlternative1 {
  display: inline-block;
  width: 85%;
}

main .inputParent0 .noFileInput0 .nextSectionExpand0, main .inputParent0 .noFileInput0 .nextSectionExpand1, main .inputParent0 .noFileInput1 .nextSectionExpand0, main .inputParent0 .noFileInput1 .nextSectionExpand1, main .inputParent1 .noFileInput0 .nextSectionExpand0, main .inputParent1 .noFileInput0 .nextSectionExpand1, main .inputParent1 .noFileInput1 .nextSectionExpand0, main .inputParent1 .noFileInput1 .nextSectionExpand1 {
  display: inline-block;
  text-align: center;
  opacity: 0.7;
}

main .inputParent0 .noFileInput0 .nextSectionExpand0 img, main .inputParent0 .noFileInput0 .nextSectionExpand1 img, main .inputParent0 .noFileInput1 .nextSectionExpand0 img, main .inputParent0 .noFileInput1 .nextSectionExpand1 img, main .inputParent1 .noFileInput0 .nextSectionExpand0 img, main .inputParent1 .noFileInput0 .nextSectionExpand1 img, main .inputParent1 .noFileInput1 .nextSectionExpand0 img, main .inputParent1 .noFileInput1 .nextSectionExpand1 img {
  display: inline-block;
  height: 100%;
  width: 1.7em;
}

main .inputParent0 .noFileInput0 .nextSectionExpand0:hover, main .inputParent0 .noFileInput0 .nextSectionExpand1:hover, main .inputParent0 .noFileInput1 .nextSectionExpand0:hover, main .inputParent0 .noFileInput1 .nextSectionExpand1:hover, main .inputParent1 .noFileInput0 .nextSectionExpand0:hover, main .inputParent1 .noFileInput0 .nextSectionExpand1:hover, main .inputParent1 .noFileInput1 .nextSectionExpand0:hover, main .inputParent1 .noFileInput1 .nextSectionExpand1:hover {
  opacity: 1;
}

main .inpPass0, main .inpPass1, main .result0, main .result1 {
  display: block;
  margin: 1em auto;
  width: 90%;
}

main .encrypt .simpleButtons, main .decrypt .simpleButtons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

main .encrypt .simpleButtons *, main .decrypt .simpleButtons * {
  padding: 0.5em;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-size: 1em;
  text-decoration: none;
  border: 1px solid #dfe8ff;
  outline: none;
  background-color: #001d49;
  color: #dfe8ff;
}

main .encrypt .simpleButtons *:hover, main .decrypt .simpleButtons *:hover {
  background-color: #003380;
}

main .encrypt {
  text-align: center;
  display: block;
}

main .decrypt {
  display: none;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */