* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea, input[type=password] {
  padding: 0.25rem;
}

.optionBlock {
  display: block;
}

main {
  min-width: 300px;
  font-size: 1em;
  color: #3a3c3f;
  font-family: sans-serif;
  background-color: #a8c2ff;
  background: linear-gradient(135deg, rgba(255, 125, 60, 0.5) 0%, #3a3ca0 100%);
  padding: 1em;
}

main .selector {
  display: block;
  text-align: center;
  padding-top: 1em;
  font-size: 1.5em;
}

main .selector .selectorChild * {
  padding: 0 0.75em;
}

main .selector .selectorChild * input {
  margin-right: 0.3em;
}

main .heading {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 2.5em;
  padding: 1.2em;
}

main .heading .underline {
  text-decoration: underline;
}

main .inputParent0 .noFileInput0, main .inputParent0 .noFileInput1, main .inputParent1 .noFileInput0, main .inputParent1 .noFileInput1 {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em auto;
  overflow: visible;
}

main .inputParent0 .noFileInput0 .fileAlternative0, main .inputParent0 .noFileInput0 .fileAlternative1, main .inputParent0 .noFileInput1 .fileAlternative0, main .inputParent0 .noFileInput1 .fileAlternative1, main .inputParent1 .noFileInput0 .fileAlternative0, main .inputParent1 .noFileInput0 .fileAlternative1, main .inputParent1 .noFileInput1 .fileAlternative0, main .inputParent1 .noFileInput1 .fileAlternative1 {
  display: inline-block;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  height: 3em;
}

main .inputParent0 .noFileInput0 .fileInpParent, main .inputParent0 .noFileInput1 .fileInpParent, main .inputParent1 .noFileInput0 .fileInpParent, main .inputParent1 .noFileInput1 .fileInpParent {
  display: inline-block;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  opacity: 1;
  overflow: hidden;
}

main .inputParent0 .noFileInput0 .fileInpParent input, main .inputParent0 .noFileInput1 .fileInpParent input, main .inputParent1 .noFileInput0 .fileInpParent input, main .inputParent1 .noFileInput1 .fileInpParent input {
  margin: auto;
  display: block;
  position: relative;
  height: 100%;
  width: 2em;
  visibility: hidden;
}

main .inputParent0 .noFileInput0 .fileInpParent input::before, main .inputParent0 .noFileInput1 .fileInpParent input::before, main .inputParent1 .noFileInput0 .fileInpParent input::before, main .inputParent1 .noFileInput1 .fileInpParent input::before {
  visibility: visible;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/plus-round.svg");
  background-position: center;
}

main .inputParent0 .noFileInput0 .fileInpParent input:hover::before, main .inputParent0 .noFileInput1 .fileInpParent input:hover::before, main .inputParent1 .noFileInput0 .fileInpParent input:hover::before, main .inputParent1 .noFileInput1 .fileInpParent input:hover::before {
  opacity: 1;
}

main .inpPass0, main .inpPass1, main .result0, main .result1 {
  display: block;
  margin: 1em auto;
  width: 90%;
}

main .encrypt .resultEncParent .simpleButtons, main .encrypt .resultDecParent .simpleButtons, main .decrypt .resultEncParent .simpleButtons, main .decrypt .resultDecParent .simpleButtons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

main .encrypt .resultEncParent .simpleButtons *, main .encrypt .resultDecParent .simpleButtons *, main .decrypt .resultEncParent .simpleButtons *, main .decrypt .resultDecParent .simpleButtons * {
  padding: 0.5em;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-size: 1em;
  text-decoration: none;
  border: 1px solid #dfe8ff;
  outline: none;
  background-color: #3a3c3f;
  color: #dfe8ff;
}

main .encrypt .resultEncParent .simpleButtons *:hover, main .encrypt .resultDecParent .simpleButtons *:hover, main .decrypt .resultEncParent .simpleButtons *:hover, main .decrypt .resultDecParent .simpleButtons *:hover {
  background-color: #2a2c2f;
}

main .encrypt .resultEncParent .disabled, main .encrypt .resultDecParent .disabled, main .decrypt .resultEncParent .disabled, main .decrypt .resultDecParent .disabled {
  background-color: #cacaca;
  color: #777777;
}

main .encrypt .resultEncParent .disabled:hover, main .encrypt .resultDecParent .disabled:hover, main .decrypt .resultEncParent .disabled:hover, main .decrypt .resultDecParent .disabled:hover {
  background-color: #cacaca;
  color: #777777;
}

main .encrypt .resultEncParent .result-n-copy, main .encrypt .resultDecParent .result-n-copy, main .decrypt .resultEncParent .result-n-copy, main .decrypt .resultDecParent .result-n-copy {
  position: relative;
}

main .encrypt .resultEncParent .result-n-copy .result0, main .encrypt .resultEncParent .result-n-copy .result1, main .encrypt .resultDecParent .result-n-copy .result0, main .encrypt .resultDecParent .result-n-copy .result1, main .decrypt .resultEncParent .result-n-copy .result0, main .decrypt .resultEncParent .result-n-copy .result1, main .decrypt .resultDecParent .result-n-copy .result0, main .decrypt .resultDecParent .result-n-copy .result1 {
  height: 6em;
}

main .encrypt .resultEncParent .result-n-copy .floatingCopyBtn0, main .encrypt .resultEncParent .result-n-copy .floatingCopyBtn1, main .encrypt .resultDecParent .result-n-copy .floatingCopyBtn0, main .encrypt .resultDecParent .result-n-copy .floatingCopyBtn1, main .decrypt .resultEncParent .result-n-copy .floatingCopyBtn0, main .decrypt .resultEncParent .result-n-copy .floatingCopyBtn1, main .decrypt .resultDecParent .result-n-copy .floatingCopyBtn0, main .decrypt .resultDecParent .result-n-copy .floatingCopyBtn1 {
  background-color: #777777;
  padding: 0.6em;
  border: 1px solid #cacaca;
  border-radius: 50%;
  position: absolute;
  bottom: 7%;
  right: 7%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2.5em;
  width: 2.5em;
}

main .encrypt .resultEncParent .result-n-copy .floatingCopyBtn0 img, main .encrypt .resultEncParent .result-n-copy .floatingCopyBtn1 img, main .encrypt .resultDecParent .result-n-copy .floatingCopyBtn0 img, main .encrypt .resultDecParent .result-n-copy .floatingCopyBtn1 img, main .decrypt .resultEncParent .result-n-copy .floatingCopyBtn0 img, main .decrypt .resultEncParent .result-n-copy .floatingCopyBtn1 img, main .decrypt .resultDecParent .result-n-copy .floatingCopyBtn0 img, main .decrypt .resultDecParent .result-n-copy .floatingCopyBtn1 img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

main .encrypt .resultEncParent .result-n-copy .hide, main .encrypt .resultDecParent .result-n-copy .hide, main .decrypt .resultEncParent .result-n-copy .hide, main .decrypt .resultDecParent .result-n-copy .hide {
  display: none;
}

main .encrypt {
  text-align: center;
  display: block;
}

main .decrypt {
  display: none;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */